In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

we would use the above keywords when is being required

Boolean expressions
Bolean expressions are created with the keywords and, or, not and is for example

In [6]:
True and True

True

In [7]:
True or False

True

In [8]:
not True

False

In [9]:
True is False

False

In [11]:
10 == 10

True

In [13]:
True + True

2

In [14]:
True + False

1

In [15]:
False + False

0

In [16]:
True - False

1

In [17]:
8 == 9

False

In [19]:
8 == 9

False

In [20]:
10 == 10

True

In [3]:
True and False or True

True

In [12]:
'b' == 'c'

False

In [21]:
10 <= 10

True

In [ ]:
DATA TYPES/STRUCTURES

In [ ]:
*Numbers
*Strings
*List
*Tuple
*Set
*Dictionary

In [ ]:
NUMBERS

In [ ]:
Integers (int)

In [ ]:
# Variables and data assignment 
# a = variables
# 20 = data 

a = 20

In [4]:
a = 20
print (a)

20

In [ ]:
How do i check the data type?

In [5]:
type(a)

int

In [ ]:
float

In [8]:
a = 10
b = 20
c = a + b
print (c)

30

In [9]:
print (c * 10)

300

STRING

In [11]:
print ('Hello world')

Hello world

In [15]:
first_string = 'python'
type (first_string)

str

In [ ]:
second_string = 'is powerful'

In [ ]:
third_string = 'language'

In [ ]:
OTHER OPERATION ON STRINGS

In [22]:
print ('day'  *5 )

daydaydaydayday

In [23]:
print ('day' + '2')

day2

In [18]:
print ('young', 'grt', 'is', 'the', 'best' )

young grt is the best

In [37]:
marks = [5,6,8,9,6,6]
marks

[5, 6, 8, 9, 6, 6]

In [38]:
a = ['a', 'b']
a

['a', 'b']

In [41]:
t = ['a', 7,6.9]
t

['a', 7, 6.9]

In [43]:
list ('emmanuel')

['e', 'm', 'm', 'a', 'n', 'u', 'e', 'l']

In [ ]:
APPEND

In [44]:
employee = []

In [45]:
!pip3 install jedi==0.17.2

Collecting jedi==0.17.2
  Downloading jedi-0.17.2-py2.py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 2.9 MB/s eta 0:00:01
Collecting parso<0.8.0,>=0.7.0
  Downloading parso-0.7.1-py2.py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 48.3 MB/s eta 0:00:01
Installing collected packages: parso, jedi
  Attempting uninstall: parso
    Found existing installation: parso 0.8.3
    Uninstalling parso-0.8.3:
      Successfully uninstalled parso-0.8.3
  Attempting uninstall: jedi
    Found existing installation: jedi 0.18.1
    Uninstalling jedi-0.18.1:
      Successfully uninstalled jedi-0.18.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.
Successfully installed jedi-0.17.2 parso-0.7.1

In [54]:
INDEX AND INSERT
two arguments can be placed in inserts

SyntaxError: invalid syntax (3920990002.py, line 1)

In [71]:
emp_salary = (4000,3000,6000,8000)
emp_salary

(4000, 3000, 6000, 8000)

In [79]:
len(employee)

17

In [ ]:
INDEXING AND SLICING

In [82]:
emp_salary

(4000, 3000, 6000, 8000)

In [ ]:
APPEND

In [33]:
employee = ('emma', 'son', 'linus')
print (employee)

('emma', 'son', 'linus')

In [36]:
emp_salary = (5000,6000,7000)
print (emp_salary)

(5000, 6000, 7000)

In [38]:
employee

('emma', 'son', 'linus')

In [39]:
len(employee)

3

In [40]:
employee[2]

'linus'

In [44]:
emp_salary [1: ]

(6000, 7000)

In [45]:
emp_salary [: 2]

(5000, 6000)

In [47]:
emp_salary [0:2]

(5000, 6000)

In [51]:
emp_salary

(5000, 6000, 7000)

COUNT

In [ ]:
marks = [9,8,7,6,5,4,3,2,1,2,3,4,5,6,4,3,,4]

In [57]:
employee

('emma', 'son', 'linus')

POP

In [60]:
students = ['rej', 'raj', 'lim', 'taj']
students

['rej', 'raj', 'lim', 'taj']

In [63]:
pop_last = students.pop()
pop_last

'raj'

In [64]:
students

['rej']

In [ ]:
roll_number = (1,9,8,9,0,8)

In [65]:
roll_number.remove(8)
print (roll_number)

NameError: name 'roll_number' is not defined

In [ ]:
TUPLE
    types of typle
    *construyctive tuple

In [12]:
work_location = ('london', 'newcastcle', 'sunderland')
work_location

('london', 'newcastcle', 'sunderland')

In [13]:
type(work_location)

tuple

In [1]:
emp_salary = (4000,3000,6000)
emp_salary

(4000, 3000, 6000)

In [5]:
type(emp_salary)

tuple

In [14]:
work_location = list(work_location)
work_location

['london', 'newcastcle', 'sunderland']

In [15]:
type(work_location)

list

In [16]:
work_location.append('california')
work_location

['london', 'newcastcle', 'sunderland', 'california']

In [18]:
work_location[1] = 'singapore'
work_location

['london', 'singapore', 'sunderland', 'california']

In [19]:
work_location = tuple(work_location)
work_location

('london', 'singapore', 'sunderland', 'california')

In [ ]:
work_location.

In [20]:
numbers = (34,67,98,67)
numbers

(34, 67, 98, 67)

In [21]:
numbers.index(67)

1

In [23]:
numbers.count(67)

2

#SET

In [ ]:
roll_numbers = set()

In [ ]:
remove_dups[3,8,9,6,4,3,1,3,8,7]

In [37]:
dups_removed = set(remove_dups)
dups_remove

NameError: name 'remove_dups' is not defined

In [ ]:
DICTIONARY

In [38]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [39]:
type(my_dict)

dict

In [41]:
my_dict['key2']

'value2'

In [9]:
my_dict = {'roll_number':123, 'marks':[2,4,3], 'subject':['commerce','computer','agric']}
my_dict

{'roll_number': 123,
 'marks': [2, 4, 3],
 'subject': ['commerce', 'computer', 'agric']}

In [54]:
my_dict['marks']

[2, 4, 3]

In [55]:
my_dict['subject'][0].upper()

'COMMERCE'

In [57]:
my_dict['marks'][0] = my_dict['marks'][0]+3
my_dict['marks']

[8, 4, 3]

In [60]:
my_dict['subject'][1]
my_dict['subject']

['commerce', 'computer', 'agric']

In [59]:
my_dict['marks'][0] -=2
my_dict['marks']

[6, 4, 3]

In [11]:
my_dict['year'] = '3rd'
my_dict

{'roll_number': 123,
 'marks': [2, 4, 3],
 'subject': ['commerce', 'computer', 'agric'],
 'year': '3rd'}

In [12]:
my_dict.items()

dict_items([('roll_number', 123), ('marks', [2, 4, 3]), ('subject', ['commerce', 'computer', 'agric']), ('year', '3rd')])

In [13]:
my_dict.keys()

dict_keys(['roll_number', 'marks', 'subject', 'year'])

# BRANCHING [if, elif, esle]

In [27]:
i = 8

In [22]:
print('it is less than 10') if i < 10 else print('it is something else')

NameError: name 'i' is not defined

In [29]:
item_1 = 100

item_2 = 300

if(item_1 + item_2) >=500:
    print('your items are eligible for free shipping')

else:
    etra = 500 - (item_1 + item_2)
    print('please add', etra, 'naira worth of an item for free shipping')

please add 100 naira worth of an item for free shipping

In [30]:
a = 300

b = 200

c = 100

if a > b and c < a:
    print('both condition are true')

else:
    print('both are not true')

both condition are true

In [28]:
marks = 69
if marks >= 60:
    if marks >70:
        print(marks, '-Distinction')
    else: 
        print(marks, '-First class')
elif marks > 50 and marks <= 60:
    print(marks, '-second class')
    
elif marks >= 35:
    print(marks, '-pass')
    
else:
    print(marks, '-better luck and work hard')

69 -First class

# The Range function

In [1]:
print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
roll_numbers = list(range(1,8))
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [6]:
step_size = list(range(0,31,2))
step_size

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [8]:
incr_by_hun = list(range(100,1601,100))
incr_by_hun

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600]

In [18]:
reverse = list(range(1600,99,-100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

# LOOPS

In [19]:
location = ['sunderland','newcastle','bermiham','london','newyork']
print(location)

['sunderland', 'newcastle', 'bermiham', 'london', 'newyork']

In [20]:
location = ['sunderland','newcastle','bermiham','london','newyork']
for city in location:
    print(city)

sunderland
newcastle
bermiham
london
newyork

In [22]:
salary = [2000,4000,5000,7000,8000,4500,3800]

for val in salary:
    if val < 5500:
        print(val)

2000
4000
5000
4500
3800

In [37]:
student_scores = [35,67,89,78,79,22,37,54,70]

for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print(marks,'-distinction')
        else:
            print(marks,'-first class')
            
    elif marks > 50 and marks <= 60:
        print(marks, '-second class')
        
    elif marks >= 35:
        print(marks,'-pass')
        
    else:
        print(marks,'-fail better luck next')

35 -pass
67 -first class
89 -distinction
78 -distinction
79 -distinction
22 -fail better luck next
37 -pass
54 -second class
70 -first class

# List comprension

In [42]:
for num in range (2,10):
    print('multiplication table for-', num)
    for i in range (1,11):
        print(num * i)
        if i == 10:
            print('\n')
else:
    print('*' * 30)
    print('end multiplication table') # else is optional
    print('*' * 30)

multiplication table for- 2
2
4
6
8
10
12
14
16
18
20


multiplication table for- 3
3
6
9
12
15
18
21
24
27
30


multiplication table for- 4
4
8
12
16
20
24
28
32
36
40


multiplication table for- 5
5
10
15
20
25
30
35
40
45
50


multiplication table for- 6
6
12
18
24
30
36
42
48
54
60


multiplication table for- 7
7
14
21
28
35
42
49
56
63
70


multiplication table for- 8
8
16
24
32
40
48
56
64
72
80


multiplication table for- 9
9
18
27
36
45
54
63
72
81
90


******************************
end multiplication table
******************************

# While loop

In [48]:
#let's do this using while loop
i = 0

while i < 15:
    i = i + 1
    print (i, 'Data trained')

1 Data trained
2 Data trained
3 Data trained
4 Data trained
5 Data trained
6 Data trained
7 Data trained
8 Data trained
9 Data trained
10 Data trained
11 Data trained
12 Data trained
13 Data trained
14 Data trained
15 Data trained

In [49]:
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=20, tm_hour=8, tm_min=26, tm_sec=13, tm_wday=0, tm_yday=171, tm_isdst=1)

while True:
    result = time.localtime()
    if result.tm_hour == 8 and result.tm_min == 46:
        print('wake up beach') #instead of print your mobile will make sound
        break

# difference btw for and while loop

# enumerate

In [1]:
students = ['john', 'simon','peter','tony','bethlehem','mercy',]
for name in enumerate (students):
    print(name)

(0, 'john')
(1, 'simon')
(2, 'peter')
(3, 'tony')
(4, 'bethlehem')
(5, 'mercy')

In [2]:
for i, name in enumerate (students,1):
    print(i,name)

1 john
2 simon
3 peter
4 tony
5 bethlehem
6 mercy

ZIP

In [74]:
students_name = ['sandra','jip','uip','typ','uio']
student_marks = [56,87,67,54,32]

In [75]:
student_details = list(zip(students_name, student_marks))
student_details

[('sandra', 56), ('jip', 87), ('uip', 67), ('typ', 54), ('uio', 32)]

UNZIP

In [12]:
name, marks_num = zip(*student_details)

In [13]:
name

('sandra', 'jip', 'uip', 'typ', 'uio')

In [14]:
marks_num

(56, 87, 67, 54, 32)

ENUMERATE AND ZIP

In [16]:
for i, (name,   marks) in enumerate (zip(students_name, student_marks), 1):
    print(i,name,marks)

1 sandra 56
2 jip 87
3 uip 67
4 typ 54
5 uio 32

BREAK

In [19]:
city = ['sunderland','newcastle','bermiham','london','newyork']
for val in city:
    if val == 'london':
        break
    print(val)

sunderland
newcastle
bermiham

In [22]:
salary = [3900,4000,2000,1000,7800,500]

for val in salary:
    if val > 7800:
        break
    print(val)

3900
4000
2000
1000
7800
500

CONTINUE

In [23]:
city = ['sunderland','newcastle','bermiham','london','newyork']
for val in city:
    if val == 'london':
        continue
    print(val)

sunderland
newcastle
bermiham
newyork

In [24]:
salary = [3900,4000,2000,1000,7800,500]

for val in salary:
    if val > 7800:
        continue
    print(val)

3900
4000
2000
1000
7800
500

Functions

In [1]:
def say_hello ():
    print('this is just a sample')

In [2]:
say_hello ()

this is just a sample

In [3]:
def greeting(name):
    print('hello', name)

In [4]:
greeting ('Dear student')

hello Dear student

In [7]:
#without a return

def salary_incr(salary):
    if salary <= 9000:
        salary + (salary + 1000)
        
    else:
        return salary

In [8]:
print ('your new salary=', salary_incr (1500))

your new salary= None

In [9]:
#with return

def salary_incr(salary):
    if salary <= 9000:
        return (salary + 1000)
        
    else:
        salary

In [13]:
print ('your new salary=', salary_incr (2500))

your new salary= 1000

with multiple argument (adding student details)

In [14]:
def stud_marks (sciece, commerce, literature):
    return(sciece + commerce + literature)

In [15]:
print ('your total marks=', stud_marks(78,98,90))

your total marks= 266

In [16]:
total_marks = stud_marks(56,76,78)
total_marks

210

In [19]:
total_marks = stud_marks (78,98,12)

if total_marks < 67:
    print(total_marks, '- you failed')

elif total_marks >= 90 and total_marks <= 150:
    print(total_marks, '- you passed')

elif total_marks >= 151 and total_marks <= 255:
    print(total_marks, '- you are first class')
    
else:
    print(total_marks, '- distinction')

188 - you are first class

In [55]:
def phone_price(phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone 11':
        if 0 < phone_age <= 6:
            if phone_model_GB == 64:
                print('$12,000 - $13,000')   
            elif phone_model_GB == 128:
                print('$16,000 - $17,000')
                  
        if 6 < phone_age <= 12:
            if phone_model_GB == 64:
                print('$15,000 - $16,000')
            elif phone_model_GB == 128:
                print('18,000 - $19,000')
                  
    elif phone_make == 'samsung':
        if 0 < phone_age <= 6:
            print('$4,000 - $6,000')
        elif phone_age > 6:
            print('$7,000 - $8,000')
                      
    elif phone_make == 'redmi':
        if 0 < phone_age <= 6:
            print('$3,000 - $5,000')
        elif phone_age > 6:
            print('$6,000 - $8,000')
                      
    else:
        print('out of stock check back')

In [62]:
phone_price('redmi',6,128)

out of stock check back

LAMBDA FUNCTION

In [ ]:
lambda arguments: expression

In [63]:
add_num = lambda y : y + 30
print(add_num (60))

90

In [65]:
multi_num = lambda a,b : a*b
print(multi_num(20,15))

300

*args and kwargs

In [66]:
def my_fun(*args):
    
    for i in args:
        print('my args: - ', i)

In [67]:
my_fun('india', 67, 'sunderland',)

my args: -  india
my args: -  67
my args: -  sunderland
my args: -  40
my args: -  34

*kwargs means keys and values

In [78]:
def my_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

In [79]:
my_kwargs(students=['linus', 'samuel'], marks = [34,45])

students ['linus', 'samuel']
marks [34, 45]

STRING INDEXING

MAP

In [81]:
def grace_marks (marks):
    if marks == 33:
        return (marks + 2)
    elif marks == 34:
        return (marks + 1)
    else:
        return marks

In [88]:
score = [34,50,36,32,31]

In [89]:
total = list(map(grace_marks, score))
print (total)

[35, 50, 36, 32, 31]

In [90]:
total.count (35)

1

# filter()

In [91]:
def filter_marks(marks):
    if marks < 35:
        return marks

In [92]:
score = [34,50,36,32,31]

In [93]:
failed = list(filter(filter_marks, score))
failed

[34, 32, 31]

diff between map and filter

# GLOBAL AND LOCAL VARIABLE

#input from user/keyword

#let's understand how to make user to enter only integers and strings

In [1]:
name = input("Enter your name ")

print ('user entered: ', name)

Enter your name Emmanuel
user entered:  Emmanuel

In [7]:
maths = int(input('Enter maths score - '))

science = int(input('Enter science score -'))

total_marks = maths + science
print('your total score: ', total_marks)

Enter maths score - 78
Enter science score -98
your total score:  176

#How you check only letters

In [9]:
name = input('Enter your name =')
if name.isalpha():
    print('you entered =', name)
else:
    print('you only need to put in characters')

Enter your name =young
you entered = young

In [10]:
def phone_price(phone_make, phone_age, phone_model_GB):
    if phone_make == 'iphone 11':
        if 0 < phone_age <= 6:
            if phone_model_GB == 64:
                print('$12,000 - $13,000')   
            elif phone_model_GB == 128:
                print('$16,000 - $17,000')
                  
        if 6 < phone_age <= 12:
            if phone_model_GB == 64:
                print('$15,000 - $16,000')
            elif phone_model_GB == 128:
                print('18,000 - $19,000')
                  
    elif phone_make == 'samsung':
        if 0 < phone_age <= 6:
            print('$4,000 - $6,000')
        elif phone_age > 6:
            print('$7,000 - $8,000')
                      
    elif phone_make == 'redmi':
        if 0 < phone_age <= 6:
            print('$3,000 - $5,000')
        elif phone_age > 6:
            print('$6,000 - $8,000')
                      
    else:
        print('out of stock check back')

In [11]:
phone = input('enter phone name -')

months_old = int(input('enter how old is your phone in month -'))

capacity = int(input('Enter GB in numbers -'))

phone_price(phone, months_old, capacity)

enter phone name -iphone 11
enter how old is your phone in month -9
Enter GB in numbers -64
$15,000 - $16,000

In [21]:
try:
    car_number = input('your car number ')
    name = input('name ')
    mobile = input('mobile number ')
    
    if car_number == ' ':
        raise exception()
    elif name == ' ':
        raise exception()
    elif mobile == ' ' :
        raise exception()
    else:
        pass
    
except:
    if car_number ==' ':
        print('\n the registration number is required') #\n means move to the next line
    
    if name ==' ':
        print ('the customer name is required. \n')
    if mobile ==' ':
        print ('mobile number is required')
else:
    print('thanks for the information')

your car number
name jjk
mobile number
thanks for the information

In [22]:
def mobile_num():
    try:
        val = int(input("please enter your mobile number "))
    
    except:
        print("looks like you did enetr an integer! ")
        
    print(val)

In [25]:
mobile_num()

please enter your mobile number 76756567
76756567

In [26]:
x = 1234567891

In [27]:
len(str(x))

10

In [4]:
def mobile_num():
    while True:
        try:
            val = int(input('please enter mobile number'))
            
            if len(str(val)) != 10:
                print('mobile number must be 10 digits')
                continue
                
            else:
                print('Thank you')
                break
                
        except:
            print('looks like you did not enter an integer!')
            continue

In [5]:
mobile_num()

please enter mobile number8900039
mobile number must be 10 digits
please enter mobile number8458298
mobile number must be 10 digits
please enter mobile number1234567890
Thank you

HOW TO DEFINE A CLASS

CREATING A CLASS

In [4]:
class Account:
    pass

In [5]:
class Account:
    def __init__(self, name, last_name, city, user_id, password, phone_num):
        
        self.name = name
        self.last_name = last_name
        self.city = city
        self.user_id = user_id
        self.password = password
        self.phone_num = phone_num

In [7]:
class Account:
    def __init__(self, name = input('Enter your name = '),
                       last_name = input('Enter your last name = '),
                       city = input('Enter city name = '),
                       user_id = input('Enter your preferred user id = '),
                       password = input('Enter your password = '),
                       phone_num = input('Enter your phone number')):
        
        
        self.name = name
        self.last_name = last_name
        self.city = city
        self.user_id = user_id
        self.password = password
        self.phone_num = phone_num
        
    def login(self):
        while True:
            
            signin = input('Email- ')
            password = input('Password- ')
            if signin == self.user_id and password == self.password:
                print('Succesfully logged in')
                break
            else:
                print('user id or password invalid')
                continue

Enter your name = emm
Enter your last name = lk
Enter city name = jh
Enter your preferred user id = jh
Enter your password = 9089
Enter your phone number8989

In [9]:
bank = Account()

In [10]:
bank.login()

Email- jh
Password- 9089
Succesfully logged in

INHERITANCE

In [15]:
class User_Account(Account):
    
    def __init__(self, acc_number, balance, *args):
        super (User_Account, self). __init__(*args)
        self.acc_number = acc_number
        self.balance = balance
    def user_details(self):
        while True:
            account = int(input('Enter your account number= '))
            if account == self.acc_number:
                print('Name = ', self.name)
                print('Acc_number = ', self.acc_number)
                print('Your Balance = ', self.balance)
                break
            else:
                print('Account number is not valid')
                continue
                
                
            
    def deposit(self):
        print('Your previous balance = ', self.balance)
        
        ac_num = str(self.acc_number)
        add_cash = int(input('Deposit cash = '))
        self.balance += add_cash
        print('\n FCMB Bank: gbp', add_cash, 'depost to your account ','xxx', ac_num[-3],
              'and your current balance is', self.balance)
        
    def transfer (self):
        print('Your previous account = ', self.balance )
        
        withdraw = int(input('How much you want to transfer = '))
        if withdraw <= self.balance:
            self.balance -= withdraw
            print('FCMB bank: gbp ', withdraw, 'withrawn from your account ', self.acc_number,
              'and your account balance is ', self.balance)
        else:
            print('\n Alert: helooo sir, you do not have sufficient fund ')

In [16]:
bank_details = User_Account(9999, 0)

In [6]:
bank.login()

Email- jh
Password- jh
Succesfully logged in

In [13]:
bank_details.user_details()

Enter your account number= 9999
Name =  emm
Acc_number =  9999
Your Balance =  0

In [17]:
bank_details.deposit()

Your previous balance =  0
Deposit cash = 12000

 FCMB Bank: gbp 12000 depost to your account  xxx 9 and your current balance is 12000

In [18]:
bank_details.transfer()

Your previous account =  12000
How much you want to transfer = 6000
FCMB bank: gbp  6000 withrawn from your account  9999 and your account balance is  6000

ENCAPSULATION

tyres
engine
body

In [23]:
class Tyres:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
        
    def __str__(self):
        return("Engine \n \tBranch: " + self.branch +
              "\n \ Belted-bias: " + str(self.belted_bias)+
              "\n \tOptimal pressure " + str(self.opt_pressure))
class engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return("Egine: \n \tFuel type: " + self.fuel_type +
              "\n \tNoise level:" + str(self.noise_level))
    
class Body:
    def __init__(self, size):
        self.size = size
        
    def __str__ (self):
        return("Body: \n tSize: " + self.size)

class Car:
    def __init__(self, tyres, engine, body):
        self.tyres = tyres
        self.engine = engine
        self.body = body
    
    def __str__(self):
        return str(self.tyres) + '\n' + str(self.engine) + '\n' + str(self.body)
    
t = Tyres('MRF', True, 34)
e = engine('Petrol', 2.3)
b = Body('SUV')
c = Car(t,e,b)
print(c)

Engine
 	Branch: MRF
 \ Belted-bias: True
 	Optimal pressure 34
Egine:
 	Fuel type: Petrol
 	Noise level:2.3
Body:
 tSize: SUV

In [25]:
import sqlite3
db = sqlite3.connect("pupils_database.db")

In [26]:
cursor = db.cursor()

In [19]:
results = cursor.execute ("SELECT * FROM student_data")
for row in results:
    print(row)

In [14]:
import sqlite3

db = sqlite3.connect('church_database.db')

In [15]:
cursor = db.cursor()

In [33]:
cursor.execute("CREATE TABLE church_data(phone_number INT, email TEXT, course_name TEXT, fee_paid INT)")

OperationalError: table church_data already exists

In [29]:
cursor.execute("INSERT INTO church_data(phone_number, email, course_name, fee_paid) VALUES (989899898, 'ygr@gmail.com', 'datatrained', 6000)")
               
print(cursor.rowcount, " Record(s) inserted")

1  Record(s) inserted

In [30]:
results = cursor.execute("SELECT* FROM church_data ")
for row in results:
    print(row)

(989899898, 'ygr@gmail.com', 'datatrained', 6000)
(989899898, 'ygr@gmail.com', 'datatrained', 6000)

multiple records inserted

In [34]:
cursor.execute("INSERT INTO church_data VALUES (989899891, 'ygr@gmail.com', 'datatrained', 6000), (989899892, 'Ogr@gmail.com', 'datatrained', 7000),(989899893, 'Pgr@gmail.com', 'ECONOMIC', 3000), (989899894, 'qgr@gmail.com', 'ACCOUNTINNG', 2000) ")

print(cursor.rowcount, " Record(s) inserted")

4  Record(s) inserted

In [42]:
with open('PYTHON NOTES FOR LESSONS_church.csv','r') as file:
    no_records = 0
    for row in file:
        cursor.execute("INSERT INTO church_data VALUES (?,?,?,?)", row.split(','))
        no_record += 1
        
print(no_records, 'Records inserted')

FileNotFoundError: [Errno 2] No such file or directory: 'PYTHON NOTES FOR LESSONS_church.csv'

In [43]:
results = cursor.execute("SELECT* FROM church_data ")
for row in results:
    print(row)

(989899898, 'ygr@gmail.com', 'datatrained', 6000)
(989899898, 'ygr@gmail.com', 'datatrained', 6000)
(989899891, 'ygr@gmail.com', 'datatrained', 6000)
(989899892, 'Ogr@gmail.com', 'datatrained', 7000)
(989899893, 'Pgr@gmail.com', 'ECONOMIC', 3000)
(989899894, 'qgr@gmail.com', 'ACCOUNTINNG', 2000)
(989899891, 'ygr@gmail.com', 'datatrained', 6000)
(989899892, 'Ogr@gmail.com', 'datatrained', 7000)
(989899893, 'Pgr@gmail.com', 'ECONOMIC', 3000)
(989899894, 'qgr@gmail.com', 'ACCOUNTINNG', 2000)

In [45]:
sql = "SELECT* FROM church_data WHERE course_name = 'ECONOMIC'"
result = cursor.execute(sql)
for row in result:
    print(row)

(989899893, 'Pgr@gmail.com', 'ECONOMIC', 3000)
(989899893, 'Pgr@gmail.com', 'ECONOMIC', 3000)